/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* variables */
:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --input-border-color: #868686;
  }

/* fonts */

h1, h2, h3, h4, h5, h6, a, label {
    font-family: 'Poppins', sans-serif;
}

p, input {
    font-family: 'Roboto', sans-serif;
}

/* body */
body {
    background-color: var(--background);
    height: 100vh;
    min-height: 100vh;
}

/* logo */
header img {
    position: absolute;
    left: 40px;
    top: 40px;
}

/* section left */
section {
    display: flex;
    align-items: center;
    height: inherit;
}

section .left {
    flex: 1;
}

section .left .form-area {
    margin: 0 auto;
    background-color: var(--form-background);
    max-width: 480px;
    border-radius: 4px;
    padding: 50px 80px;
}

/* form */
.form-area .header-form {
    margin-bottom: 15px;
    color: var(--text-base);
}

.form-area .form-title {
    display: flex;
    align-items: center;
    color: var(--text-title);
    margin-bottom: 10px;
}

.form-area .form-title img {
    margin-right: 8px;
}

.form-area form label {
    display: block;
    cursor: pointer;
    color: var(--text-base);
    font-size: 14px;
    line-height: 24px;
}

.form-area form input {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--input-border-color);
    width: 100%;
    border-radius: 4px;
    padding: 14px;
    outline: none;
    transition: all 0.3s linear;
    margin-bottom: 20px;
}

.form-area form input::placeholder {
    color: #A9AFB9;
}

.form-area form input[type=checkbox] {
    width: auto;
}

.form-area form input:focus {
    border: 1px solid var(--primary-color);
}

.form-area form .additional-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-area form .remember {
    display: flex;
    align-items: center;
}

.form-area form .remember input {
    display: none;
}

.form-area form .remember input + label::before {
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    margin-bottom: 3px;
}

.form-area form .remember input:checked + label::before {
    background-color: var(--primary-color);
    background-image: url('./images/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border-color: var(--primary-color);
    transition: all 0.3s linear;
}

.form-area form button {
    background-color: var(--primary-color);
    color: #473404;
    border: 1px solid var(--primary-color);
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 15px;
    transition: all 0.3s linear;
}

.form-area form button:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.form-area a,
.form-area > p > a {
    color: var(--primary-color);
}

.form-area > p > a,
.form-area > p {
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
}

/* section right */
section .right {
    background-image: url('../images/side-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
    flex: 1;
}

/* responsive */

@media (min-width: 769px) and (max-width: 1024px) {
    section .left .form-area {
        padding: 50px;
        margin: 0 1.5rem;
    }
}

@media (max-width: 768px) {
    section .right {
        display: none;
    }
}

@media (max-width: 480px) {
    section .left .form-area {
        margin: 0 1.5rem;
        padding: 40px 30px;
    }
}